version: "3.9"

services:
  api:
    image: dikhean/simulate-api:latest
    ports:
      - "8080:8080"
    depends_on:
      - redis
      - maze-service
    environment:
      REDIS_ADDR: redis:6379
      MAZE_SERVICE_URL: http://maze-service:8000
      GIN_MODE: release
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/health" ]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: always

  maze-service:
    image: dikhean/maze-generator:latest
    ports:
      - "8000:8000"
    restart: always

  redis:
    image: redis:7
    volumes:
      - redis-data:/data
    command: [ "redis-server", "--appendonly", "yes" ]
    restart: always

volumes:
  redis-data:
