version: "3.9"

services:
  maze-service:
    build:
      context: ./maze_generator
    ports:
      - "8000:8000"
    volumes:
      - ./maze_generator:/app
    command: uvicorn maze.main:app --host 0.0.0.0 --port 8000 --reload
    environment:
      PYTHONUNBUFFERED: "1"
    restart: unless-stopped

  redis:
    image: redis:7
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"
    command: [ "redis-server", "--appendonly", "yes" ]
    restart: unless-stopped

volumes:
  redis-data:
