version: "3.9"

services:
  maze-service:
    image: maze-service:latest
    container_name: maze-service
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
    restart: unless-stopped

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: [ "redis-server", "--appendonly", "yes" ]
    restart: unless-stopped

volumes:
  redis-data:
