services:
  api:
    image: dikhean/simulate-api:latest
    container_name: simulate-api
    ports:
      - "8080:8080"
    environment:
      REDIS_ADDR: 127.0.0.1:6379
      MAZE_SERVICE_URL: http://maze-service:3000
      GIN_MODE: release
    depends_on:
      maze-service:
        condition: service_healthy
    restart: always

  maze-service:
    image: dikhean/maze-generate:latest
    container_name: maze-service
    ports:
      - "3000:3000"
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:3000/maze/health || exit 1" ]
    restart: always
