version: "3.9"

services:
  api:
    image: dikhean/simulate-api:latest
    ports:
      - "8080:8080"
    depends_on:
      - redis
    environment:
      REDIS_ADDR: redis:6379
    restart: always

  redis:
    image: redis:7
    restart: always
    volumes:
      - redis-data:/data
    command: ["redis-server", "--appendonly", "yes"]

volumes:
  redis-data:
