services:
  api:
    image: dikhean/simulate-api:latest
    container_name: simulate-api
    networks:
      - my-net
    ports:
      - "8080:8080"
    environment:
      REDIS_ADDR: redis:6379
      MAZE_SERVICE_URL: http://maze-service:3000
      GIN_MODE: release
    depends_on:
      redis:
        condition: service_healthy
      maze-service:
        condition: service_healthy
    restart: always

  maze-service:
    image: dikhean/maze-generate:latest
    container_name: maze-service
    networks:
      - my-net
    ports:
      - "3000:3000"
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:3000/maze/health || exit 1" ]
      interval: 5s
      timeout: 3s
      retries: 5
    restart: always

  redis:
    image: redis:7-alpine
    container_name: redis
    networks:
      - my-net
    ports:
      - "6379:6379"
    command:
      - redis-server
      - --save
      - ""
      - --appendonly
      - "no"
      - --protected-mode
      - "no"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5
    restart: always

networks:
  my-net:
    driver: bridge
