services:
  postgres:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pg-data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    command: [ "redis-server", "--appendonly", "yes" ]
    volumes:
      - redis-data:/data
  maze-vision:
    build: ./maze-vision
    ports:
      - "9000:9000"
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 512M

volumes:
  pg-data:
  redis-data:
