# name: Deploy to EC2
# on:
#   push:
#     branches:
#       - main

# jobs:
#   deploy:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v4

#       - name: Set up Docker Buildx
#         uses: docker/setup-buildx-action@v3

#       - name: Login to Docker Hub
#         uses: docker/login-action@v3
#         with:
#           username: ${{ secrets.DOCKER_USERNAME }}
#           password: ${{ secrets.DOCKER_PASSWORD }}

#       - name: Build & Push Docker image (multi-arch)
#         uses: docker/build-push-action@v5
#         with:
#           context: ./backend
#           platforms: linux/amd64,linux/arm64
#           push: true
#           tags: dikhean/simulate-api:latest

#       - name: Build & Push Maze Generator (multi-arch)
#         uses: docker/build-push-action@v5
#         with:
#           context: ./backend/maze_generator
#           platforms: linux/amd64,linux/arm64
#           push: true
#           tags: dikhean/maze-generator:latest

#       - name: SSH to EC2 and deploy
#         uses: appleboy/ssh-action@v1.0.0
#         with:
#           host: ${{ secrets.EC2_HOST }}
#           username: ubuntu
#           key: ${{ secrets.EC2_SSH_KEY }}
#           script: |
#             cd ~/app/high-contention-resource-allocation/backend
#             docker pull dikhean/simulate-api:latest
#             docker pull dikhean/maze-generator:latest
#             docker compose down
#             docker compose up -d
